<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.uoc.churtado.feelingloadapp">

    <!-- adding internet permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainCoachActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activities.MainPlayerActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activities.PlayerDetailsActivity"
            android:parentActivityName=".activities.MainCoachActivity"
            android:label="EDIT PLAYER">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainCoachActivity" />
        </activity>
        <activity android:name=".activities.TrainingDetailsActivity"
            android:parentActivityName=".activities.MainCoachActivity"
            android:label="TRAINING">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainCoachActivity" />
        </activity>
        <activity android:name=".activities.EditTrainingActivity"
            android:parentActivityName=".activities.MainCoachActivity"
            android:label="EDIT TRAINING">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainCoachActivity" />
        </activity>
        <activity android:name=".activities.RPESummaryActivity"
            android:parentActivityName=".activities.MainCoachActivity"
            android:label="RPE SUMMARY">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainCoachActivity" />
        </activity>
        <activity android:name=".activities.PlayerTrainingDetailsActivity"
            android:parentActivityName=".activities.MainPlayerActivity"
            android:label="RPE">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainPlayerActivity" />
        </activity>
        <activity android:name=".activities.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>